spring:
  datasource:
    url: jdbc:mysql://test.koudaibook.com:30006/mydb?useUnicode=true&characterEncoding=utf-8
    username: root
    password: Password!&
  jpa:
    show-sql: true
    database: MYSQL
    hibernate:
      ddl-auto: update
  redis:
    host: manager.e-healthcare.net
    password: meetinglive
    port: 31379
server:
  port: 8888
simple:
  domainName: koudaibook.com
  common:
    sentry-dsn: https://80bbf4ae778b525f9fe72e2813cd5246@sentry.io/1271087
management:
  endpoints:
    web:
      exposure:
        include: "*"

